html {
  font-family: Courier;
  color: white;
  background-color: grey;
  opacity: 0.5;
}

header {
  font-family: Courier;
  font-size: 100px;
}

footer {
  width:850px;
  height: 450px;
}

img.gfooter {
  float:center;
  width: 800px;
  height: 400px;
  padding: 20px;
}
